# Lab 4.2- Regular Expression Practice

Now that we have grouped the data blocks, we need to identify and correct problems in the data.  The go-to tools for this task is the regular expression.  In this lab, we will point out a number of problems in the grouped data and create regular expression to perform various tasks (matching/splitting/substitution).

## Problem 1 -- Reading in current progress

Recall that we saved the results of grouping the data in a file named `911_Deaths_Grouped.csv`.  Read in the content of this file and split the content into a list of lines.

#### Key

In [1]:
with open('911_Deaths_Grouped.csv') as f:
    content = f.read()
content[:500]

"Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Partners, World Trade Center.\nEdelmiro Abad, 54, Brooklyn, N.Y., Fiduciary Trust Company International, World Trade Center.\nMarie Rose Abad, 49, Keefe, Bruyette&Woods, Inc., World Trade Center.\nAndrew Anthony Abate, 37, Melville, N.Y., Cantor Fitzgerald, World Trade Center.\nVincent Paul Abate, 40, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.\nLaurence Christopher Abel, 37, New York City, Cantor Fitzgerald, World Trade Center.\nAlona Abraham, 3"

In [2]:
grouped_lines = content.split('\n')
grouped_lines[:50]

["Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Partners, World Trade Center.",
 'Edelmiro Abad, 54, Brooklyn, N.Y., Fiduciary Trust Company International, World Trade Center.',
 'Marie Rose Abad, 49, Keefe, Bruyette&Woods, Inc., World Trade Center.',
 'Andrew Anthony Abate, 37, Melville, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Vincent Paul Abate, 40, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Laurence Christopher Abel, 37, New York City, Cantor Fitzgerald, World Trade Center.',
 'Alona Abraham, 30, Ashdod, Israel, Passenger, United 175, World Trade Center.',
 'William F. Abrahamson, 55, Westchester County, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Richard Anthony Aceto, 42, Marsh&McLennan Companies, Inc., World Trade Center.',
 'Heinrich Bernhard Ackermann, 38, Aon Corporation, World Trade Center.',
 'Paul Acquaviva, 29, Glen Rock, N.J., Cantor Fitzgerald, World Trade Center.',
 'Christian Adams, 37, Passenger, United 93, Shanksville, Pa.',
 'Donald LaRoy Adams, 28, Cantor Fitzgerald, World Trade Center.',
 'Patrick Adams, 61, Fuji Bank, Ltd. security, World Trade Center.',
 'Shannon Lewis Adams, 25, Cantor Fitzgerald, World Trade Center.',
 'Stephen George Adams, 51, New York City, Windows on the World, World Trade Center.',
 'Ignatius Udo Adanga, 62, Bronx, N.Y., New York Metropolitan Transportation Council, World Trade Center.',
 'Christy A. Addamo, 28, New Hyde Park, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Terence Edward Adderley, Jr., 22, New York City, Fred Alger Management, Inc., World Trade Center.',
 'Sophia B. Addo, 36, Bronx, N.Y., Windows on the World, World Trade Center.',
 'Lee Adler, 48, Cantor Fitzgerald, World Trade Center.',
 'Daniel Thomas Afflitto, 32, Manalapan, N.J., Cantor Fitzgerald, World Trade Center.',
 'Emmanuel Akwasi Afuakwah, 37, Windows on the World, World Trade Center.',
 'Alok Agarwal, 36, Cantor Fitzgerald, World Trade Center.',
 'Mukul Kumar Agarwala, 37, Fiduciary Trust Company International, World Trade Center.',
 'Joseph Agnello, 35, Belle Harbor, N.Y., New York City Fire Department, World Trade Center.',
 'David Scott Agnes, 46, Port Washington, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Joao Alberto da Fonseca Aguiar, Jr., 30, Hoboken, N.J., Keefe, Bruyette&Woods, Inc., World Trade Center.',
 'Brian G. Ahearn, 43, Huntington, N.Y., New York City Fire Department, World Trade Center.',
 'Jeremiah Joseph Ahern, 74, New Jersey, New York State Department of Taxation and Finance, World Trade Center.',
 'Joanne Marie Ahladiotis, 27, Forest Hills, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Shabbir Ahmed, 47, Brooklyn, N.Y., Windows on the World, World Trade Center.',
 'Terrance Andre Aiken, 30, Marsh&McLennan consultant, World Trade Center.',
 'Godwin O. Ajala, 33, Summit Security Services, Inc., World Trade Center, died 9/15/01.',
 'Trudi M. Alagero, 37, New York City, Marsh&McLennan Companies, Inc., World Trade Center.',
 'Andrew Alameno, 37, Westfield, N.J., Cantor Fitzgerald, World Trade Center.',
 'Margaret Ann Alario, 41, Staten Island, N.Y., Aon Corporation visitor from Zurich Financial Services, World Trade Center.',
 'Gary M. Albero, 39, Emerson, N.J., Aon Corporation, World Trade Center.',
 'Jon Leslie Albert, 46, Upper Nyack, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Peter Craig Alderman, 25, New York City, Risk Waters Group conference attendee from Bloomberg L.P., World Trade Center.',
 'Jacquelyn Delaine Aldridge-Frederick, 46, Staten Island, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'David D. Alger, 57, New York City, Fred Alger Management, Inc., World Trade Center.',
 'Ernest Alikakos, 43, Brooklyn, N.Y., New York State Department of Taxation and Finance, World Trade Center.',
 'Edward L. Allegretto, 51, Cantor Fitzgerald, World Trade Center.',
 'Eric Allen, 44, Brooklyn, N.Y., New York City Fire Department, World Trade Center.',
 'Joseph Ryan Allen, 39, Cantor Fitzgerald, World Trade Center.',
 'Richard Dennis Allen, 31, Rockaway Beach, N.Y., New York City Fire Department, World Trade Center.',
 'Richard L. Allen, 30, Brooklyn, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Christopher E. Allingham, 36, River Edge, N.J., Cantor Fitzgerald, World Trade Center.',
 'Anna S. W. Allison, 48, Stoneham, Mass., Passenger, United 11, World Trade Center.']

## Problem 2 -- Inspecting problem lines

I have provided some examples of problems that can be found in this data set below.  Inspect the lines and determine one or more things that are problematic for each line.

In [3]:
example_idx = (0, 33, 75, 76, 150, 232, 1304, 1305, 1343)
examples = [l for i, l in enumerate(grouped_lines) if i in example_idx]
examples

["Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Partners, World Trade Center.",
 'Godwin O. Ajala, 33, Summit Security Services, Inc., World Trade Center, died 9/15/01.',
 'Mary Lynn Edwards Angell, 52, Cape Cod, Mass. and Pasadena, Calif., Passenger, United 11, World Trade Center.',
 'Laura Angilletta, 23, Staten Island, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Lorraine G. Bay, 58, East Windsor, N.J., Flight Crew, United 93, Shanksville, Pa.',
 'Canfield D. Boone, ??, United States Army, Pentagon.',
 'Albert Gunnis Joseph, 79, New York City, Morgan Stanley, World Trade Center, died 1/2/02.',
 'Ingeborg Joseph, 53, Marriott guest, World Trade Center, died 10/9/01.',
 'Brenda Kegler, ??, Capitol Heights, Md., United States Army Civilian, Pentagon.']

> Your answers here

#### Key

Some problems include

1. Comma's in names, companies, location
2. Missing ages (represented as `??`)
3. Rows missing an entry for hometowns, passenger type, flight, and date of death.
4. Non-uniform hometown/state entries.

## General procedure

1. Create the expression and test against positive case.
2. Match/search against all example
3. After you know it works, add the `groups` method for all examples.
4. Look for any non-matches in the full data set.
5. Test on the fill data set if all rows match.

## What's the big deal?

So why are we being so careful to make sure everything matches? Turns out that if any row fails to match, adding `groups` will crash the code :/

In [5]:
import re
test = re.compile(', (\d\d),')
[test.search(l) for l in examples]

[<re.Match object; span=(21, 26), match=', 32,'>,
 <re.Match object; span=(15, 20), match=', 33,'>,
 <re.Match object; span=(24, 29), match=', 52,'>,
 <re.Match object; span=(16, 21), match=', 23,'>,
 <re.Match object; span=(15, 20), match=', 58,'>,
 None,
 <re.Match object; span=(20, 25), match=', 79,'>,
 <re.Match object; span=(15, 20), match=', 53,'>,
 None]

In [8]:
test.search(examples[1]).groups()

('33',)

In [9]:
[test.search(l).groups() for l in examples]

AttributeError: 'NoneType' object has no attribute 'groups'

## Problem 3 -- Capturing the age field

Notice that all victims have a passenger field that contains either their age or `??` if the age is unknown.

In this problem, we will build a regular expression to match this field, which will ALSO allow us to capture the name field (even when there are problems with extra commas).

#### Task 1 - Capture the age field.

Write a regular expression that matches and captures the age field.  

**Hints:** Remember that 

* Use `(pat)` to capture a pattern.
* Use `\d` to match digits
* `(p1|p2)` allows you to match `p1` or `p2`.

In [6]:
# Your code here

#### Key

In [10]:
import re
age = re.compile(', (\?\?|\d{1,3}),')
type(age.search(examples[0]))

re.Match

In [ ]:
this reg ex matches two question marks or a group a digits ranging from 1 to 3 in length. any digit

In [11]:
examples[0], age.search(examples[0]).groups()

("Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Partners, World Trade Center.",
 ('32',))

In [12]:
[age.search(l) for l in examples]

[<re.Match object; span=(21, 26), match=', 32,'>,
 <re.Match object; span=(15, 20), match=', 33,'>,
 <re.Match object; span=(24, 29), match=', 52,'>,
 <re.Match object; span=(16, 21), match=', 23,'>,
 <re.Match object; span=(15, 20), match=', 58,'>,
 <re.Match object; span=(17, 22), match=', ??,'>,
 <re.Match object; span=(20, 25), match=', 79,'>,
 <re.Match object; span=(15, 20), match=', 53,'>,
 <re.Match object; span=(13, 18), match=', ??,'>]

In [13]:
[age.search(l).groups() for l in examples]

[('32',),
 ('33',),
 ('52',),
 ('23',),
 ('58',),
 ('??',),
 ('79',),
 ('53',),
 ('??',)]

In [14]:
[(i, l) for i, l in enumerate(grouped_lines) if not age.search(l)]

[]

In [15]:
[age.search(l).groups() for l in grouped_lines][:25]

[('32',),
 ('54',),
 ('49',),
 ('37',),
 ('40',),
 ('37',),
 ('30',),
 ('55',),
 ('42',),
 ('38',),
 ('29',),
 ('37',),
 ('28',),
 ('61',),
 ('25',),
 ('51',),
 ('62',),
 ('28',),
 ('22',),
 ('36',),
 ('48',),
 ('32',),
 ('37',),
 ('36',),
 ('37',)]

#### Task 2 - Capture the age field, as well as everything before and after.

Adapt your work from the last problem to not only capture the age field, but also everything before and after.

**Hint:** Remember that 

* Use greedy wild-cards `.*` and/or `.+` to grab as much as possible.
* Use comma's to anchor the three parts, e.g. `(pat1), (pat2), (pat3)`

In [16]:
# .+ is a wild card which will grab as much as possible. Then commas were used as placement to anchor everything in place. Grab the stuff before the question marks or numbers, then grab those, then grab everything after

#### Key

In [20]:
import re
age_plus = re.compile('(.+), (\?\?|\d{1,3}), (.+)')

In [21]:
[age_plus.search(l) for l in examples]

[<re.Match object; span=(0, 74), match="Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Part>,
 <re.Match object; span=(0, 86), match='Godwin O. Ajala, 33, Summit Security Services, In>,
 <re.Match object; span=(0, 109), match='Mary Lynn Edwards Angell, 52, Cape Cod, Mass. and>,
 <re.Match object; span=(0, 81), match='Laura Angilletta, 23, Staten Island, N.Y., Cantor>,
 <re.Match object; span=(0, 81), match='Lorraine G. Bay, 58, East Windsor, N.J., Flight C>,
 <re.Match object; span=(0, 52), match='Canfield D. Boone, ??, United States Army, Pentag>,
 <re.Match object; span=(0, 89), match='Albert Gunnis Joseph, 79, New York City, Morgan S>,
 <re.Match object; span=(0, 70), match='Ingeborg Joseph, 53, Marriott guest, World Trade >,
 <re.Match object; span=(0, 79), match='Brenda Kegler, ??, Capitol Heights, Md., United S>]

In [18]:
[age_plus.search(l).groups() for l in examples]

[('Gordon M. Aamoth, Jr.',
  '32',
  "Sandler O'Neill + Partners, World Trade Center."),
 ('Godwin O. Ajala',
  '33',
  'Summit Security Services, Inc., World Trade Center, died 9/15/01.'),
 ('Mary Lynn Edwards Angell',
  '52',
  'Cape Cod, Mass. and Pasadena, Calif., Passenger, United 11, World Trade Center.'),
 ('Laura Angilletta',
  '23',
  'Staten Island, N.Y., Cantor Fitzgerald, World Trade Center.'),
 ('Lorraine G. Bay',
  '58',
  'East Windsor, N.J., Flight Crew, United 93, Shanksville, Pa.'),
 ('Canfield D. Boone', '??', 'United States Army, Pentagon.'),
 ('Albert Gunnis Joseph',
  '79',
  'New York City, Morgan Stanley, World Trade Center, died 1/2/02.'),
 ('Ingeborg Joseph',
  '53',
  'Marriott guest, World Trade Center, died 10/9/01.'),
 ('Brenda Kegler',
  '??',
  'Capitol Heights, Md., United States Army Civilian, Pentagon.')]

In [22]:
[(i, l) for i, l in enumerate(grouped_lines) if not age_plus.search(l)]

[]

In [30]:
[age_plus.search(l).groups() for l in grouped_lines][:50]

[('Gordon M. Aamoth, Jr.',
  '32',
  "Sandler O'Neill + Partners, World Trade Center."),
 ('Edelmiro Abad',
  '54',
  'Brooklyn, N.Y., Fiduciary Trust Company International, World Trade Center.'),
 ('Marie Rose Abad', '49', 'Keefe, Bruyette&Woods, Inc., World Trade Center.'),
 ('Andrew Anthony Abate',
  '37',
  'Melville, N.Y., Cantor Fitzgerald, World Trade Center.'),
 ('Vincent Paul Abate',
  '40',
  'Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.'),
 ('Laurence Christopher Abel',
  '37',
  'New York City, Cantor Fitzgerald, World Trade Center.'),
 ('Alona Abraham',
  '30',
  'Ashdod, Israel, Passenger, United 175, World Trade Center.'),
 ('William F. Abrahamson',
  '55',
  'Westchester County, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.'),
 ('Richard Anthony Aceto',
  '42',
  'Marsh&McLennan Companies, Inc., World Trade Center.'),
 ('Heinrich Bernhard Ackermann', '38', 'Aon Corporation, World Trade Center.'),
 ('Paul Acquaviva',
  '29',
  'Glen Rock, N.J., Cantor Fitzgerald, World Trade Center.'),
 ('Christian Adams', '37', 'Passenger, United 93, Shanksville, Pa.'),
 ('Donald LaRoy Adams', '28', 'Cantor Fitzgerald, World Trade Center.'),
 ('Patrick Adams', '61', 'Fuji Bank, Ltd. security, World Trade Center.'),
 ('Shannon Lewis Adams', '25', 'Cantor Fitzgerald, World Trade Center.'),
 ('Stephen George Adams',
  '51',
  'New York City, Windows on the World, World Trade Center.'),
 ('Ignatius Udo Adanga',
  '62',
  'Bronx, N.Y., New York Metropolitan Transportation Council, World Trade Center.'),
 ('Christy A. Addamo',
  '28',
  'New Hyde Park, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.'),
 ('Terence Edward Adderley, Jr.',
  '22',
  'New York City, Fred Alger Management, Inc., World Trade Center.'),
 ('Sophia B. Addo',
  '36',
  'Bronx, N.Y., Windows on the World, World Trade Center.'),
 ('Lee Adler', '48', 'Cantor Fitzgerald, World Trade Center.'),
 ('Daniel Thomas Afflitto',
  '32',
  'Manalapan, N.J., Cantor Fitzgerald, World Trade Center.'),
 ('Emmanuel Akwasi Afuakwah',
  '37',
  'Windows on the World, World Trade Center.'),
 ('Alok Agarwal', '36', 'Cantor Fitzgerald, World Trade Center.'),
 ('Mukul Kumar Agarwala',
  '37',
  'Fiduciary Trust Company International, World Trade Center.'),
 ('Joseph Agnello',
  '35',
  'Belle Harbor, N.Y., New York City Fire Department, World Trade Center.'),
 ('David Scott Agnes',
  '46',
  'Port Washington, N.Y., Cantor Fitzgerald, World Trade Center.'),
 ('Joao Alberto da Fonseca Aguiar, Jr.',
  '30',
  'Hoboken, N.J., Keefe, Bruyette&Woods, Inc., World Trade Center.'),
 ('Brian G. Ahearn',
  '43',
  'Huntington, N.Y., New York City Fire Department, World Trade Center.'),
 ('Jeremiah Joseph Ahern',
  '74',
  'New Jersey, New York State Department of Taxation and Finance, World Trade Center.'),
 ('Joanne Marie Ahladiotis',
  '27',
  'Forest Hills, N.Y., Cantor Fitzgerald, World Trade Center.'),
 ('Shabbir Ahmed',
  '47',
  'Brooklyn, N.Y., Windows on the World, World Trade Center.'),
 ('Terrance Andre Aiken',
  '30',
  'Marsh&McLennan consultant, World Trade Center.'),
 ('Godwin O. Ajala',
  '33',
  'Summit Security Services, Inc., World Trade Center, died 9/15/01.'),
 ('Trudi M. Alagero',
  '37',
  'New York City, Marsh&McLennan Companies, Inc., World Trade Center.'),
 ('Andrew Alameno',
  '37',
  'Westfield, N.J., Cantor Fitzgerald, World Trade Center.'),
 ('Margaret Ann Alario',
  '41',
  'Staten Island, N.Y., Aon Corporation visitor from Zurich Financial Services, World Trade Center.'),
 ('Gary M. Albero',
  '39',
  'Emerson, N.J., Aon Corporation, World Trade Center.'),
 ('Jon Leslie Albert',
  '46',
  'Upper Nyack, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.'),
 ('Peter Craig Alderman',
  '25',
  'New York City, Risk Waters Group conference attendee from Bloomberg L.P., World Trade Center.'),
 ('Jacquelyn Delaine Aldridge-Frederick',
  '46',
  'Staten Island, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.'),
 ('David D. Alger',
  '57',
  'New York City, Fred Alger Management, Inc., World Trade Center.'),
 ('Ernest Alikakos',
  '43',
  'Brooklyn, N.Y., New York State Department of Taxation and Finance, World Trade Center.'),
 ('Edward L. Allegretto', '51', 'Cantor Fitzgerald, World Trade Center.'),
 ('Eric Allen',
  '44',
  'Brooklyn, N.Y., New York City Fire Department, World Trade Center.'),
 ('Joseph Ryan Allen', '39', 'Cantor Fitzgerald, World Trade Center.'),
 ('Richard Dennis Allen',
  '31',
  'Rockaway Beach, N.Y., New York City Fire Department, World Trade Center.'),
 ('Richard L. Allen',
  '30',
  'Brooklyn, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.'),
 ('Christopher E. Allingham',
  '36',
  'River Edge, N.J., Cantor Fitzgerald, World Trade Center.'),
 ('Anna S. W. Allison',
  '48',
  'Stoneham, Mass., Passenger, United 11, World Trade Center.')]

## Problem 4 -- Capturing the date of death

While most victims of the attack died on 9/11, a few died at a later date.  Notice that those that those that died later have an additional field at the end of the line.

In this problem, we will build a regular expression to match this field.

In [24]:
examples[-2]

'Ingeborg Joseph, 53, Marriott guest, World Trade Center, died 10/9/01.'

#### Task 1 - Capture the date of death field.
  
Write a regular expression that matches and captures the date of death (e.g. `10/9/01`).  This expression should return `None` when this field is missing.

**Hints:** Remember that 

* Use `$` to match the end of the line.
* Escape to match periods exactly, i.e. `\.`
* Use `\d{n,m}` to match digits to match between `n` and `m` digits
* `?` allows you to match optional patterns

In [32]:
# this is looking for ", died" in the line, then 1-2 digits after, followed by a backslash, then 1-2 digits after that also followed byt a backslash, then everything after that to the end of the line including question marks.

#### Key

In [25]:
dod = re.compile('(, died \d{1,2}/\d{1,2}/\d{1,2})?(\.)?$')
dod.search(examples[-2]).groups()

(', died 10/9/01', '.')

In [26]:
[dod.search(l) for l in examples]

[<re.Match object; span=(73, 74), match='.'>,
 <re.Match object; span=(71, 86), match=', died 9/15/01.'>,
 <re.Match object; span=(108, 109), match='.'>,
 <re.Match object; span=(80, 81), match='.'>,
 <re.Match object; span=(80, 81), match='.'>,
 <re.Match object; span=(51, 52), match='.'>,
 <re.Match object; span=(75, 89), match=', died 1/2/02.'>,
 <re.Match object; span=(55, 70), match=', died 10/9/01.'>,
 <re.Match object; span=(78, 79), match='.'>]

In [27]:
[dod.search(l).groups() for l in examples]

[(None, '.'),
 (', died 9/15/01', '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (', died 1/2/02', '.'),
 (', died 10/9/01', '.'),
 (None, '.')]

In [28]:
[(i, l) for i, l in enumerate(grouped_lines) if not dod.search(l)]

[]

In [29]:
[dod.search(l).groups() for l in grouped_lines][:25]

[(None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.'),
 (None, '.')]

#### Task 2 - Capture the age field, as well as everything before and after.

Adapt your work from the last problem to not only capture the data of death field, but also everything before.

**Hint:** Remember that 

* Use greedy wild-cards `.*` and/or `.+` to grab as much as possible.
* Use comma's to anchor the three parts, e.g. `(pat1), (pat2), (pat3)`

In [52]:
age_plus = re.compile('(.+), (\?\?|\d{1,3}), (.+)')
[age_plus.search(l) for l in examples]

[<re.Match object; span=(0, 74), match="Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Part>,
 <re.Match object; span=(0, 86), match='Godwin O. Ajala, 33, Summit Security Services, In>,
 <re.Match object; span=(0, 109), match='Mary Lynn Edwards Angell, 52, Cape Cod, Mass. and>,
 <re.Match object; span=(0, 81), match='Laura Angilletta, 23, Staten Island, N.Y., Cantor>,
 <re.Match object; span=(0, 81), match='Lorraine G. Bay, 58, East Windsor, N.J., Flight C>,
 <re.Match object; span=(0, 52), match='Canfield D. Boone, ??, United States Army, Pentag>,
 <re.Match object; span=(0, 89), match='Albert Gunnis Joseph, 79, New York City, Morgan S>,
 <re.Match object; span=(0, 70), match='Ingeborg Joseph, 53, Marriott guest, World Trade >,
 <re.Match object; span=(0, 79), match='Brenda Kegler, ??, Capitol Heights, Md., United S>]

In [53]:
examples

["Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Partners, World Trade Center.",
 'Godwin O. Ajala, 33, Summit Security Services, Inc., World Trade Center, died 9/15/01.',
 'Mary Lynn Edwards Angell, 52, Cape Cod, Mass. and Pasadena, Calif., Passenger, United 11, World Trade Center.',
 'Laura Angilletta, 23, Staten Island, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Lorraine G. Bay, 58, East Windsor, N.J., Flight Crew, United 93, Shanksville, Pa.',
 'Canfield D. Boone, ??, United States Army, Pentagon.',
 'Albert Gunnis Joseph, 79, New York City, Morgan Stanley, World Trade Center, died 1/2/02.',
 'Ingeborg Joseph, 53, Marriott guest, World Trade Center, died 10/9/01.',
 'Brenda Kegler, ??, Capitol Heights, Md., United States Army Civilian, Pentagon.']

## Problem 5 -- Working with passenger data

Notice that 

1. Passengers on the flights have two extra fields: passenger status and flight
2. Other victim are missing these fields.

In this problem, we will build a regular expression to match these fields and use this expression to split the data.  In the process, we will be able to add the missing fields to the other rows.

#### Task 1 - Make an expression that matches the passenger status.

Make a regular expression that matches and extracts the passenger status field.  This expression should match all lines, returning `None` for the other rows.

**Hint:** Remember that 

* `(p1|p2)` allows you to match `p1` or `p2`.   
* `?` allows you to match optional patterns

In [121]:
status = re.compile('Passenger|Flight Crew')

In [122]:
[status.search(l) for l in examples]

[None,
 None,
 <re.Match object; span=(68, 77), match='Passenger'>,
 None,
 <re.Match object; span=(41, 52), match='Flight Crew'>,
 None,
 None,
 None,
 None]

In [126]:
[status.search(l) for l in grouped_lines][:150]

[None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(35, 44), match='Passenger'>,
 None,
 None,
 None,
 None,
 <re.Match object; span=(21, 30), match='Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(41, 50), match='Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(39, 48), match='Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(45, 54), match='Passenger'>,
 <re.Match object; span=(68, 77), match='Passenger'>,
 None,
 None,
 None,
 <re.Match object; span=(45, 54), match='Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(73, 84), match='Flight Crew'>,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(42, 51), match='Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(41, 50), match='Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(48, 57), match='Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(44, 53), match='Passenger'>,
 None]

In [32]:
examples

["Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Partners, World Trade Center.",
 'Godwin O. Ajala, 33, Summit Security Services, Inc., World Trade Center, died 9/15/01.',
 'Mary Lynn Edwards Angell, 52, Cape Cod, Mass. and Pasadena, Calif., Passenger, United 11, World Trade Center.',
 'Laura Angilletta, 23, Staten Island, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Lorraine G. Bay, 58, East Windsor, N.J., Flight Crew, United 93, Shanksville, Pa.',
 'Canfield D. Boone, ??, United States Army, Pentagon.',
 'Albert Gunnis Joseph, 79, New York City, Morgan Stanley, World Trade Center, died 1/2/02.',
 'Ingeborg Joseph, 53, Marriott guest, World Trade Center, died 10/9/01.',
 'Brenda Kegler, ??, Capitol Heights, Md., United States Army Civilian, Pentagon.']

#### Task 2 - Capture the flight field

Make a regular expression that matches and extracts the flight field.  This expression should match all lines, returning `None` for the other rows.

**Hint:** Remember that 

* Look through the data file to identify the airlines.
* Use `\d` to match digits
* `(p1|p2)` allows you to match `p1` or `p2`.   
* `?` allows you to match optional patterns

In [42]:
flight = re.compile(', U.+ \d\d')

In [45]:
[flight.search(l) for l in examples]

[None,
 None,
 <re.Match object; span=(77, 88), match=', United 11'>,
 None,
 <re.Match object; span=(52, 63), match=', United 93'>,
 None,
 None,
 None,
 None]

In [125]:
[flight.search(l) for l in grouped_lines][:150]

[None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(44, 55), match=', United 17'>,
 None,
 None,
 None,
 None,
 <re.Match object; span=(30, 41), match=', United 93'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(50, 61), match=', United 11'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(54, 65), match=', United 11'>,
 <re.Match object; span=(77, 88), match=', United 11'>,
 None,
 None,
 None,
 <re.Match object; span=(54, 65), match=', United 11'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(84, 95), match=', United 11'>,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(51, 62), match=', United 11'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(50, 61), match=', United 17'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(57, 68), match=', United 11'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(53, 64), match=', United 17'>,
 None]

#### Task 3 - Combine the last two expression

Now combine the last two expressions to capture the two flight fields, but also all content before and after these fields.

In [141]:
combine = re.compile('(.+), Passenger|Flight Crew, U.+ \d\d, (.+)')

In [142]:
[combine.search(l) for l in examples]

[None,
 None,
 <re.Match object; span=(0, 77), match='Mary Lynn Edwards Angell, 52, Cape Cod, Mass. and>,
 None,
 <re.Match object; span=(41, 81), match='Flight Crew, United 93, Shanksville, Pa.'>,
 None,
 None,
 None,
 None]

In [143]:
[combine.search(l) for l in grouped_lines]

[None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 44), match='Alona Abraham, 30, Ashdod, Israel, Passenger'>,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 30), match='Christian Adams, 37, Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 50), match='Anna S. W. Allison, 48, Stoneham, Mass., Passenge>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 48), match='Paul W. Ambrose, 32, Washington, D.C., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 54), match='David Lawrence Angell, 54, Providence, R.I., Pass>,
 <re.Match object; span=(0, 77), match='Mary Lynn Edwards Angell, 52, Cape Cod, Mass. and>,
 None,
 None,
 None,
 <re.Match object; span=(0, 54), match='Seima David Aoyama, 48, Los Angeles, Calif., Pass>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(73, 116), match='Flight Crew, United 11, World Trade Center.'>,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 51), match='Myra Joy Aronson, 50, Charlestown, Mass., Passeng>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 50), match='Garnet Ace Bailey, 53, Lynnfield, Mass., Passenge>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 57), match='Christine Johnna Barbuto, 32, Brookline, Mass., P>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 53), match='Mark Lawrence Bavis, 31, Roslindale, Mass., Passe>,
 None,
 <re.Match object; span=(41, 81), match='Flight Crew, United 93, Shanksville, Pa.'>,
 None,
 <re.Match object; span=(0, 45), match='Todd M. Beamer, 32, Cranbury, N.J., Passenger'>,
 None,
 None,
 <re.Match object; span=(0, 51), match='Alan Anthony Beaven, 48, Oakland, Calif., Passeng>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 52), match='Graham Andrew Berkeley, 37, Boston, Mass., Passen>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 45), match='Yeneneh Betru, 35, Burbank, Calif., Passenger'>,
 None,
 <re.Match object; span=(0, 55), match='Carolyn Mayer Beug, 48, Santa Monica, Calif., Pas>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 42), match='Mark Bingham, 31, New York City, Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 56), match='Deora Frances Bodley, 20, Santa Clara, Calif., Pa>,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 59), match='Touri Hamzavi Bolourchi, 62, Los Angeles, Calif.,>,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 45), match='Kelly Ann Booms, 24, Boston, Mass., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 47), match='Klaus Bothe, 31, Linkenheim, Germany, Passenger'>,
 <re.Match object; span=(0, 50), match='Carol Marie Bouchard, 43, Warwick, R.I., Passenge>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(44, 84), match='Flight Crew, United 93, Shanksville, Pa.'>,
 None,
 None,
 None,
 <re.Match object; span=(0, 61), match='Daniel Raymond Brandhorst, 41, Los Angeles, Calif>,
 <re.Match object; span=(0, 63), match='David Reed Gamboa Brandhorst, 3, Los Angeles, Cal>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 48), match='Marion R. Britton, 53, Brooklyn, N.Y., Passenger'>,
 None,
 None,
 None,
 <re.Match object; span=(0, 52), match='Bernard C. Brown II, 11, Washington, D.C., Passen>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 56), match='Thomas E. Burnett, Jr., 38, San Ramon, Calif., Pa>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 32), match='John Brett Cahill, 56, Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 52), match='Suzanne M. Calley, 43, San Martin, Calif., Passen>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 65), match='Christoffer Mikael Carstanjen, 33, Turner Falls, >,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 60), match='Neilie Anne Heffernan Casey, 32, Wellesley, Mass.>,
 <re.Match object; span=(0, 58), match='William Joseph Cashman, 60, West New York, N.J., >,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 33), match='William E. Caswell, 54, Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 43), match='Sara M. Clark, 65, Columbia, Md., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(28, 71), match='Flight Crew, United 11, World Trade Center.'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 32), match='Jeffrey W. Coombs, 42, Passenger'>,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 51), match='John J. Corcoran III, 43, Norwell, Mass., Passeng>,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 37), match='Georgine Rose Corrigan, 55, Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 47), match='Asia S. Cottom, 11, Washington, D.C., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 54), match='Tara Kathleen Creamer, 30, Worcester, Mass., Pass>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 46), match='Thelma Cuccinello, 71, Wilmot, N.H., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 71), match='Patrick Joseph Currivan, 52, Boston, Mass. and Pa>,
 None,
 <re.Match object; span=(0, 69), match='Andrew Peter Charles Curry Green, 34, Santa Monic>,
 None,
 <re.Match object; span=(0, 46), match='Patricia Cushing, 69, Bayonne, N.J., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(19, 59), match='Flight Crew, United 93, Shanksville, Pa.'>,
 <re.Match object; span=(0, 44), match='Brian Paul Dale, 43, Warren, N.J., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 53), match='Dorothy Alma de Araujo, 80, Naples, Calif., Passe>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 46), match='Ana Gloria Pocasangre Debarrera, 49, Passenger'>,
 None,
 <re.Match object; span=(0, 55), match='James D. Debeuneure, 58, Upper Marlboro, Md., Pas>,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 60), match='Laura Lee Defazio Morabito, 34, Framingham, Mass.>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 45), match='Joseph DeLuca, 52, Ledgewood, N.J., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 47), match='Rodney Dickens, 11, Washington, D.C., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 48), match='Eddie A. Dillard, 54, Alexandria, Va., Passenger'>,
 <re.Match object; span=(0, 47), match='David DiMeglio, 22, Wakefield, Mass., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 54), match='Donald Americo DiTullio, 49, Peabody, Mass., Pass>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 60), match='Alberto Dominguez, 66, New South Wales, Australia>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 58), match='Patrick Joseph Driscoll, 70, Englishtowne, N.J., >,
 None,
 <re.Match object; span=(0, 52), match='Charles A. Droz III, 52, Springfield, Va., Passen>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 33), match='Barbara G. Edwards, ??, Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 58), match='Charles S. Falkenberg, 45, University Park, Md., >,
 <re.Match object; span=(0, 51), match='Dana Falkenberg, 3, University Park, Md., Passeng>,
 <re.Match object; span=(0, 50), match='Zoe Falkenberg, 8, University Park, Md., Passenge>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 55), match='Paige Marie Farley-Hackel, 46, Newton, Mass., Pas>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 44), match='Edward P. Felt, 41, Matawan, N.J., Passenger'>,
 None,
 None,
 <re.Match object; span=(0, 51), match='J. Joseph Ferguson, 39, Washington, D.C., Passeng>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 54), match='Alexander Milan Filipov, 70, Concord, Mass., Pass>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 31), match='Darlene E. Flagg, ??, Passenger'>,
 <re.Match object; span=(0, 45), match='Wilson F. Flagg, 62, Millwood, Va., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 47), match='Carol Ann Flyzik, 40, Plaistow, N.H., Passenger'>,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 44), match='Jane C. Folger, 73, Bayonne, N.J., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 49), match='Colleen L. Fraser, 51, Elizabeth, N.J., Passenger>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 31), match='Paul J. Friedman, 45, Passenger'>,
 None,
 <re.Match object; span=(0, 62), match='Lisa Anne Frost, 22, Rancho Santa Margarita, Cali>,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 59), match='Karleton Douglas Beye Fyfe, 31, Brookline, Mass.,>,
 None,
 <re.Match object; span=(0, 54), match='Richard Peter Gabriel, 54, Great Falls, Va., Pass>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 52), match='Ronald L. Gamboa, 33, Los Angeles, Calif., Passen>,
 None,
 None,
 None,
 <re.Match object; span=(0, 58), match='Andrew Sonny Garcia, 62, Portola Valley, Calif., >,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 47), match='Peter Alan Gay, 54, Tewksbury, Mass., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 47), match='Linda M. George, 27, Westboro, Mass., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <re.Match object; span=(0, 28), match='Edmund Glazer, 41, Passenger'>,
 None,
 None,
 <re.Match object; span=(0, 47), match='Jeremy Logan Glick, 31, Hewitt, N.J., Passenger'>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]